
body{
    background-color: lightblue;
}
 table{
     border-collapse: collapse;
     border: 1px solid black;
 }

th{
    border: collapse;
    border: 1px solid green;
 
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: rgb(210, 215, 219);
}

tr:hover{
    background-color: lightgreen;
    opacity: 0.5;
    
}
.active{
    background: green;
}
td{
    padding: 1rem;
    width: 10rem;
    border: 1px solid ;
}

.heading{
    text-align: center;
}

.tablecont{
    display: flex;
    justify-content: center;
    align-items:  center;
}